.wrapper {
	max-width: 830px;
	margin: 0 auto;
	padding: min(85px, max(17vh, 20px)) 15px 30px;
}

.status {
	margin: 0 0 min(50px, max(10vh, 15px)) 0;
}

.game_wrapper {
	display: flex;
	justify-content: space-between;
	gap: 24px;
}

.game_field {
	flex: 0 1 242px;
}

.game_field_name {
	margin: 0 0 16px;
}

.buttons {
	padding: 34px 0 0 0;
}
